<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>
<div style="margin-left: 40%">
<h3>Registration</h3>
<form method="POST">
    <label>Userame</label><br>
    <input type="text" name="username" /><br><br>
    <label>Password</label><br>
    <input type="password" name="password" /><br><br>
    <label>Phone Number</label><br>
    <input type="text" name="phone number" /><br><br>
    <input type="submit" value="Send" />
</form>
</div>
</body>
</html>